.<html>
<body class="black">
<div class="container">
<div style="text-align:center;">
<h1 class="ohm">NEW USER?
<form role="form" action="/auth/local/register" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign up</button>
  </h1>
 </div>
 </div>
</form>
<div style="text-align:center;">
<h1 class="ohm"> Want a demo? <br> Admin account <br> username - a@a.com <br> password - password <br> Normal account <br> username - b@b.com <br> passoword - password <br> </h1>
</div></body>
</html>
